html,
body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(63, 81, 181);
    background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(255, 30, 99, 1) 125%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 175%;
    overflow-x: hidden;
    margin-top: 15px;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.body2 {
    width: 100vw;
    height: 5950px;
    overflow-x: hidden;
    margin-top: auto;
}

.body2 {
    font-family: 'Montserrat', sans-serif;
    background: rgb(63, 81, 181);
    background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(255, 30, 99, 1) 125%);
    display: block;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 1000px;
    margin-top: 800px;
    width: 350px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    padding-top: -50px;
    border-radius: 5px;
    width: 550px;
    margin-bottom: 300px;
}

.landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden
}

.container h1 {
    font-size: 44px;
}

button {
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
}

button {
    background: #cfd8dc;
    color: #000000;
    width: 150px;
    height: 40px;
    border: 1px solid #ABB3B7;
    font-size: 17px;
    border-radius: 3px;
    transition: .6s;
    overflow: hidden;
    margin-bottom: 2px;
    border-radius: 30px;
}

button:focus {
    outline: none;
}

button:before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .5);
    width: 60px;
    height: 100px;
    margin-left: 100px;
    border-radius: 30px;
    top: 0;
    opacity: 1;
    filter: blur(30px);
    transform: translateX(-150px);
}

button:after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, .2);
    margin: 20px;
    width: 30px;
    height: 100px;
    border-radius: 30px;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translateX(-100px) scaleX(-15deg);
}

button:hover {
    background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(255, 30, 99, 1) 100%);
    ;
    cursor: pointer;
    border: 1px solid black;
}

button:hover:before {
    transform: translateX(150px);
    opacity: .6;
    transition: .7s;
}

button:hover:after {
    transform: translateX(4000px) skewX(-15deg);
    opacity: 1;
    transition: .7s;
}

.download {
    width: 18px;
    margin: 5px 0 0 8px;
}

.separator {
    width: 80%;
    background-color: #cfd8dc;
    height: 5px;
    margin-top: 15px;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
    background-color: transparent;
    text-align: center;
}

.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap);
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html[data-theme=dark] body {
    background-color: #000
}

html[data-theme=light] body {
    background-color: #fff
}

.app {
    overflow: hidden
}

html[data-theme=dark] .app {
    background-color: #000;
    color: #eee
}

html[data-theme=light] .app {
    background-color: #fff;
    color: #111
}

.nav .theme-button {
    background: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0 0 0 10px
}

.nav .theme-button-image {
    height: 1em;
    vertical-align: middle;
    -webkit-transform: scale(1.2);
    transform: scale(1.2)
}

html[data-theme=dark] .nav a {
    margin: 0 5px;
    text-decoration: none;
    color: #eee
}

html[data-theme=dark] .nav .router-link-exact-active {
    border-bottom: 1px solid #eee
}

html[data-theme=light] .nav a {
    margin: 0 5px;
    text-decoration: none;
    color: #111
}

html[data-theme=light] .nav .router-link-exact-active {
    border-bottom: 1px solid #111
}

.footer {
    text-align: center;
    width: 100%;
    padding: 3px;
    font-size: 14px
}

html[data-theme=dark] ::-moz-selection {
    background: #eee;
    color: #000
}

html[data-theme=dark] ::selection {
    background: #eee;
    color: #000
}

html[data-theme=light] ::-moz-selection {
    background: #111;
    color: #fff
}

html[data-theme=light] ::selection {
    background: #111;
    color: #fff
}

.podcast-popup {
    max-width: 600px;
    width: 80%;
    background-color: #fff;
    color: #000;
    padding: 20px;
    text-align: center
}

.podcast-popup .podcast-popup-link {
    color: #ff5370
}

.podcast-popup-header .podcast-popup-close {
    position: relative;
    height: 25px;
    width: 25px;
    cursor: pointer
}

.podcast-popup-header .podcast-popup-close:after,
.podcast-popup-header .podcast-popup-close:before {
    content: "";
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    top: 50%;
    right: 0
}

.podcast-popup-header .podcast-popup-close:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.podcast-popup-header .podcast-popup-close:before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.podcast-popup-header .podcast-popup-close:hover {
    opacity: .6
}

.podcast-popup-footer {
    text-align: left
}

.podcast-popup-footer-dont-again {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 1em;
    font-size: 12px;
    border-bottom: 1px solid #000;
    cursor: pointer
}

.landing .avatar {
    height: 250px
}

@media screen and (max-width:700px) {
    .landing .avatar {
        height: 150px
    }
}

.landing h1 {
    margin: 15px 0 0 0;
    text-align: center
}

.landing .subtitle {
    margin-top: 10px;
    text-align: center;
    word-wrap: break-word;
    font-weight: 1000;
    font-size: 50px;
}

.landing .arrow-down {
    opacity: 1;
    cursor: pointer;
    margin-top: 1em
}

html[data-theme=dark] .landing .arrow-down>path {
    fill: #eee
}

html[data-theme=light] .landing .arrow-down>path {
    fill: #111
}

.landing .arrow-down:hover {
    opacity: .8
}

.about-content[data-v-29e58534] {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 25px;
    padding-bottom: 0
}

html[data-theme=dark] .about a[data-v-29e58534] {
    color: #eee
}

html[data-theme=light] .about a[data-v-29e58534] {
    color: #111
}

.technologies-item[data-v-a26343de] {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background: var(--bg-color);
    color: var(--fg-color);
    text-decoration: none
}

.technologies-item[data-v-a26343de]:hover {
    background: var(--bg-color-hover)
}

.technologies-item-logo[data-v-a26343de] {
    height: 70px;
    margin-bottom: 10px
}

.technologies-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 65px;
    padding-bottom: 0
}

.grid {
    display: grid;
    grid-gap: 15px;
    padding-bottom: 20px;
    border-bottom: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(6, 200px);
    scrollbar-width: none;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper[data-v-7963f5c4] {
    padding: 50px 25px;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto
}

.dlugi {
    margin-bottom: 500px;
}

.text-typing {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Consolas';
    border-radius: 50px;
    margin-bottom: 3px;
}

.text-typing p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(19, end) forwards, blink 1s infinite;
}

@keyframes typing {
    0% {
        width: 0ch
    }
    100% {
        width: 20ch
    }
}

@keyframes blink {
    0%,
    100% {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid #222;
    }
}

footer {
    background: black;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.footernapis {
    color: rgb(255, 255, 255);
    text-align: center;
    animation: blink 1s infinite;
}

.clock {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.kalendarz {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}