html,
body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(63, 81, 181);
    background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgb(233, 0, 70) 125%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: 200%;
    align-items: center;
    overflow-x: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 0;
}

.body2 {
    width: 100vw;
    height: 5950px;
    overflow-x: hidden;
    margin-top: auto;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    padding: 20px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 350px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fafafa;
    border-radius: 5px;
    width: 445px;
    margin-bottom: 300px;
    margin-top:300px;
}

.containerTournament {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #252830;
    padding: 20px 10px;
    border-radius: 5px;
    width: 1150px;
    padding-top: 25px;
    padding-bottom: 15px;
}

.landing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 540px;
    height:100vh;
    overflow: hidden;
    margin-bottom: 100px;
}

.container h1 {
    font-size: 44px;
}

.separator {
    width: 80%;
    background-color: #cfd8dc;
    height: 5px;
    margin-top: 15px;
}

.thecard:hover {
    transform: rotateY(180deg);
}

.footer {
    left: 0;
    width: 100%;
    background-color: transparent;
    text-align: center;
}

.thecard {
    position: relative;
    top: 0;
    left: 0;
    width: 128px;
    height: 128px;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
}

.technologies-item[data-v-a26343de] {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    background: var(--bg-color);
    color: var(--fg-color);
    text-decoration: none
}

.technologies-content {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top:15px;
}

.grid {
    display: grid;
    grid-gap: 15px;
    padding-bottom: 25px;
    border-bottom: 10px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, 200px);
    scrollbar-width: none;
    cursor: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.unselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wrapper[data-v-7963f5c4] {
    padding: 50px 25px;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto
}

.dlugi {
    margin-bottom: 500px;
}

.text-typing {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Consolas';
    border-radius: 50px;
    margin-bottom: 3px;
}

.text-typing p {
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(19, end) forwards, blink 1s infinite;
}

footer {
    background: black;
    height: 50px;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

.footernapis {
    color: rgb(255, 255, 255);
    text-align: center;
    animation: blink 1s infinite;
}

.clock {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
}

.kalendarz {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}

-html {
    scroll-behavior: smooth
}

.footer {
    text-align: center;
    width: 100%;
    padding: 3px;
    font-size: 14px
}

.technologies-item[data-v-a26343de]:hover {
    background: var(--bg-color-hover)
}

.technologies-item-logo[data-v-a26343de] {
    height: 70px;
    margin-bottom: 10px
}

html {
    scroll-behavior: smooth
}

@keyframes typing {
    0% {
        width: 0ch
    }
    100% {
        width: 20ch
    }
}

@keyframes blink {
    0%,
    100% {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid #222;
    }
}