html,
body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(63, 81, 181);
    background: linear-gradient(90deg, rgba(63, 81, 181, 1) 0%, rgba(255, 30, 99, 1) 125%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 1100px;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.containerTournament {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #252830;
    border-radius: 5px;
    max-width: fit-content;
    height: 575px;
    padding-top: 25px;
    padding-left: 75px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.text-typing {
    display: flex;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Consolas';
    border-radius: 50px;
    margin-bottom: 3px;
}

.text-typing p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(19, end) forwards, blink 1s infinite;
}

@keyframes typing {
    0% {
        width: 0ch;
    }
    100% {
        width: 20ch;
    }
}

@keyframes blink {
    0%, 100% {
        border-right: 2px solid transparent;
    }
    50% {
        border-right: 2px solid #222;
    }
}

@media (max-width: 768px) {
    .containerTournament {
        width: 100%;
        padding: 10px;
    }
    
    .text-typing {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .containerTournament {
        padding: 5px;
    }

    .text-typing {
        font-size: 12px;
    }
}
